<br />
<img src="~/images/adminarea.jfif" alt="Área de administração" />
<div class="container">
    <div class="jumbotron">
        <p>
            <h2>Essa é a área do administrador</h2>
        </p>
        <a asp-area="" asp-controller="Home" asp-action="Index" >Volte a home page</a>
    </div>
</div>